<h2>Crear menu</h2>
<div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input [(ngModel)]="menu.nombre" type="text" class="form-control" id="nombre" placeholder="Ingresar nombre">
    </div>
    <div class="form-group">
        <label for="estado">Estado</label>
        <input [(ngModel)]="menu.estado" type="number" class="form-control" id="estado" value="1" readonly>
      </div>
    <button (click)="saveMenu()" class="btn btn-primary btn-block">Guardar</button>
    </div>