<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Creado</th>
            <th scope="col">Actualizado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let menu of menus">
            <th>{{menu.id}}</th>
            <td>{{menu.nombre}}</td>
            <td>{{menu.estado}}</td>
            <td>{{menu.created_at}}</td>
            <td>{{menu.updated_at}}</td>
            <td> 
                <a class="btn btn-primary btn-sm" routerLink="/form/{{menu.id}}">Editar</a>
                <a class="btn btn-primary btn-sm btn-danger" (click)="delete(menu.id)">Eliminar</a>
             </td>
        </tr>
    </tbody>
</table>